<html>
    <head>
        <meta charset="utf-8">
        <title>캠핑장비대여</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>    
        <!-- navbar font & css-->
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/acfe1c41fb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/navbar.css">

        <!-- jquery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js">
		</script>

        
        <style>
            :root {
            --accent-color:  #E5874A;
            }
            @font-face {
                font-family: 'ChosunGu';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            #tools{
                margin-top: 150px;
                margin-bottom: 100px;
            }
            .container{
                font-family: 'ChosunGu';
                line-height: 180%;
            }
            .tools_title{
                margin-top: 100px;
                margin-bottom: 30px;
                color:var(--accent-color);
                font-weight: 600;
            }
            .tools{
                margin-top: 100px;
            }
            .tools_subtitle{
                margin:30px 0px;
            }

            .tools_item_list{
                margin: 25px;
            }

            .tools_item_list span{
                margin: 8px 10px;
                display: inline-block;
            }
            .tools_item_list a{
                color:black;
                text-decoration: none;
            }
            .tools_item_list a:hover{
                color: var(--accent-color);
                font-weight: 600;
            }

            .tools_item_ex{
                margin: 50px 0px;
                padding-left: 0px;
            }
            .tools_item_ex li{
                margin: 30px 0px;
                text-align: center;
                list-style: none;
            }
            .tools_item_ex li>div{
                padding: 30px;
                border-radius: 20px;
                text-align: center;
                /* background-color: var(--accent-color) rgba(0,0,0, 0.1); */
            }
            .tools_item_ex li>div:hover, .tools_item_ex .highlight{
                box-shadow: 0px 0px 40px -10px lightgray;
            }

            .tools_item_ex img{
                width: 100%;
                border-radius: 20px;
                cursor: pointer;
            }
            .tools_item_ex li div div:nth-child(2){
                font-size: 1.2em;
                font-weight: 700;
                margin-top: 15px;
            }

            .tools_guide>div{
                display: flex;
                margin: 25px;
                padding-top: 8px;
            }
            .tools_guide h5{
                margin-right: 50px;
            }
            .tools_guide_plus h5{
                margin-right: 129px;
            }
            .tools_guide div div{
                margin-left: 70px;
            }
            @media screen and (max-width:992px) {
                .tools_guide_time{
                    justify-content: space-between;
                }
                .tools_guide_prec{
                    flex-direction: column;
                }
            }

        </style>
    </head>
    <body>
        <%-include("navbar_test.ejs")%>
        
        <div id="wrapper">
            <div class="container" id="tools">
                <h4 class="tools_title">음식</h3>
                <hr>
                <div class="tools tools_item">
                    <h4 class="tools_subtitle">밀키트</h4>
                    <hr>
                    <div class="tools_item_list">
                        <span data-target="a"><a href="#aa">소고기 밀푀유나베</a></span>
                        <span data-target="b"><a href="#bb">우삼겹 떡볶이</a></span>
                        <span data-target="c"><a href="#cc">마파두부</a></span>
                        <span data-target="d"><a href="#dd">김치어묵 우동전골</a></span>
                        <span data-target="e"><a href="#ee">트리플 크림파스타</a></span>
                        <span data-target="f"><a href="#ff">의정부식 부대찌개</a></span>
                    </div>
                    <hr>

                    <ul class="tools_item_ex">
                        <div class="row">
                            <li class="col-12 col-md-6 col-xl-4">
                                <div data-source="a" id="aa">
                                    <img src="/static/img/tools/차량어닝.jpg">
                                    <div>소고기 밀푀유나베</div>
                                    <div>강한 햇빛에도 그늘을 만들어 줄 차량어닝</div>
                                </div>
                            </li>
                            <li class="col-12 col-md-6 col-xl-4">
                                <div data-source="b" id="bb">
                                    <img src="/static/img/tools/캠핑테이블.jpg">
                                    <div>우삼겹 떡볶이</div>
                                    <div>조립이 편리한 캠핑테이블</div>
                                </div>
                            </li>
                            <li class="col-12 col-md-6 col-xl-4">
                                <div data-source="c" id="cc">
                                    <img src="/static/img/tools/접이식미니테이블.jpg">
                                    <div>마파두부</div>
                                    <div>차량에서 간단한 취식이나 테이블을 사용할 수 있도록 준비한 접이식 미니 테이블 </div>
                                </div>
                            </li>
                            <li class="col-12 col-md-6 col-xl-4">
                                <div data-source="d" id="dd">
                                    <img src="/static/img/tools/접이식캠핑의자.jpg">
                                    <div>김치어묵 우동전골</div>
                                    <div>편안한 차박을 위해 야외에서 사용 가능한 캠핑의자</div>
                                </div>
                            </li>
                            <li class="col-12 col-md-6 col-xl-4">
                                <div data-source="e" id="ee"> 
                                    <img src="/static/img/tools/담요.jpg">
                                    <div>트러플 크림파스타</div>
                                    <div>캠핑 감성 분위기에 어울리는 담요</div>
                                </div>
                            </li>
                            <li class="col-12 col-md-6 col-xl-4">
                                <div data-source="f" id="ff">    
                                    <img src="/static/img/tools/주전자.jpg">
                                    <div>의정부식 부대찌개</div>
                                    <div>미니 버너를 이용해 간단한 커피나 차, 라면 등을 끓일 수 있는 주전자</div>
                                </div>
                            </li>
                        </div>
                    </ul>
                    <hr>
                </div>
                <!-- 이름주의 kiosk  -->
                <div class="tools tools_item"> 
                    <h4 class="tools_subtitle">매점</h4>
                    <hr>
                    <div class="tools_item_list">
                        <span>숟가락</span>
                        <span>젓가락</span>
                        <span>포크</span>
                        <span>접시</span>
                        <span>종이컵</span>
                        <span>부탄가스</span>
                        <span>이소가스</span>
                        <span>장작</span>
                        <span>라면</span>
                        <span>과자</span>
                        <span>쌈장</span>
                        <span>햇반</span>
                        <span>물</span>
                        <span>커피</span>
                        <span>술</span>
                        <span>탄산음료</span>
                        <span>얼음</span>
                    </div>
                    <hr>
                </div>

                <!-- 이름주의 bbq -->
                <div class="tools tools_item">
                    <h4 class="tools_subtitle">바베큐</h4>
                    <hr>
                    <div class="tools_item_list">
                        <span data-target="g"><a href="#gg">바베큐 set</a></span>
                        <span data-target="h"><a href="#hh">파이어 set</a></span>
                    </div>
                    <hr>

                    <ul class="tools_item_ex">
                        <div class="row">
                            <li class="col-12 col-md-6 col-xl-4">
                                <div data-source="g" id="gg">
                                    <img src="/static/img/tools/차량어닝.jpg">
                                    <div>바베큐 set</div>
                                    <div>삼겹살500g 목살300g 소시지 야채세트 김치 쌈장 햇반</div>
                                </div>
                            </li>
                            <li class="col-12 col-md-6 col-xl-4">
                                <div data-source="h" id="hh">
                                    <img src="/static/img/tools/캠핑테이블.jpg">
                                    <div>파이어 set</div>
                                    <div>화롯대 장작 숯 집게 일회용그릴 마시멜로</div>
                                </div>
                            </li>
                        </div>
                    </ul>
                    <hr>
                </div>

                <div class="tools tools_guide"> 
                    <h4 class="tools_subtitle"> 바베큐 이용 안내 </h4>
                    <hr>
                    <div class="tools_guide_prec tools_guide_plus">
                        <h5>이용료</h5>
                        <ol>
                            <li>바베큐 set: 50,000원</li>
                            <li>파이어 set: 20,000원</li>
                        </ol>
                    </div>
                    <hr> 
                    <div class="tools_guide_prec">
                        <h5>바베큐 주의사항</h5>
                        <ol>
                            <li>바베큐set는 예약만 이용 가능합니다.</li>
                            <li>숯과 장작은 1회 제공됩니다.</li>
                            <li>기물손상 및 분실시 피해보상은 대여시점 원상복구를 원칙으로 하며 고객변상 100%입니다.</li>
                        </ol>
                    </div>
                    <hr>
                </div>
            </div>
        </div>


        <script>
            $(".tools_item_list>span").click(function(){
                console.log($(this).data("target"));
                $(".highlight").removeClass("highlight");
                // 난 왜 이런 생각이 안 들까....
                $(".tools_item_ex li > div[data-source="+$(this).data("target")+"]").addClass("highlight");
            });

            $(".tools_item_ex li>div").click(function(){
                $(".highlight").removeClass("highlight");
                $(this).addClass("highlight");
            });

        </script>

        <%-include("footer.ejs")%>
    </body>
</html>

<!-- <a href=”#이동위치이름”> 위치 이동 클릭</a>
<a id=”이동위치이름”> 이동할 위치</a> -->