<link rel="stylesheet" href="/static/css/footer.css">
<footer>
    <div class="footer">
        <ul>
            <li><a href="#" onclick="return false">사이트 도움말</a></li>
            <li><a href="#" onclick="return false">사이트 이용약관</a></li>
            <li><a href="#" onclick="return false">사이트 운영원칙</a></li>
            <li><a href="#" onclick="return false">개인정보취급방침</a></li>
            <li><a href="#" onclick="return false">책임의 한계와 법적고지</a></li>
            <li><a href="#" onclick="return false">게시중단요청서비스</a></li>
            <li><a href="#" onclick="return false">고객센터</a></li>
        </ul>
        <ul>
            <li>Tel) 010-9402-3853</li>
            <li>Bank Account) 478101-04-441526(국민)</li>
            <li>e-mail) camppang@naver.com</li>
            <li>주소: 강원도 원주시 판부면 백운산길 67</li>
            <li>업체명: 캠팡</li>
            <li>대표자: 5조</li>
        </ul>
        <address>
            © 2022.
            <a href="href://camppang.co.kr"><Strong>CAMPPANG.</Strong></a>
            All Rights Reserved.
        </address>
    </div>
</footer>