<link rel="stylesheet" href="Information.css">
<div class="camppang_btn">
    <a class="tent-btn" href="#sub_title3"><i class="fa-solid fa-tents"></i></a>
    <a class="Guide-btn" href="#sub_title2"><i class="fa-brands fa-glide-g"></i></a>
    <a class="refund-btn" href="#sub_title1"><i class="fa-solid fa-sack-dollar"></i></a>
    <a href="#" class="top"><i class="fa-solid fa-arrow-up"></i></a>
</div>