<html>
    <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/Information.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="resource/js/jquery-1.11.0.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/acfe1c41fb.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>    
    

    <title>Inforamtion</title>

      
    </head>
    <body>
        <!-- nav-bar -->
     <div id="wrap">  
      <%-include("navbar_test.ejs")%>
        <!-- detail-->
       <div class="reserCon01">
       </div>
       <!-- p -->
      

       <div class="sub_title">
          <h3>Rental Tent</h3>
          <span>캠핑장 텐트 이용 안내 입니다. </span>
          <p>Tent rental service.Please look around and take what you need!</p>
       </div>
       <hr>
       <!-- 텐트 대여 및 구매 안내 -->
       <div class="tent">
          <div class="tent-img">
            <img src="/static/img/information/tent01.jpg"   class="tents-img">
          </div>
          <!-- 여기서부터 테이블 시작 -->
          <div class="table-first">
                <table class="tent-table">
                   <thead>
                    <strong>Tent rental service</strong>
                   </thead>
                   <tbody>
                    <tr>
                      <th>텐트 규격</th>
                      <th>수용 인원<br>(권장)</th>
                      <th>이용료</th>
                      <th>구매시  할인</th>
                    </tr>
                    <tr>
                      <td>225*225*210</td>
                      <td>최대<strong>2</strong>명</td>
                      <td>100,000원</td>
                      <td>(최대)30%</td>
                    </tr>
                    <tr>
                      <td>300*300*210</td>
                      <td>최대<strong>3</strong>명</td>
                      <td>130,000원</td>
                      <td>(최대)40%</td>
                    </tr>
                    <tr>
                      <td>455*415*210</td>
                      <td>최대<strong>4</strong>명</td>
                      <td>150,000원</td>
                      <td>(최대)50%</td>
                    </tr>
                    <tr>
                      <td>600*612*412</td>
                      <td>최대<strong>5</strong>명</td>
                      <td>170,000원</td>
                      <td>대형텐트 안팜</td>
                    </tr>
                    <tr>
                      <td>1051*1568*1654</td>
                      <td>최대<strong>6</strong>명</td>
                      <td>200,000원</td>
                      <td>대형텐트 안팜</td>
                    </tr>
                   </tbody>
                </table>
          </div>
          <!-- 테이블 끝 -->
       </div>
       <!--  real한 캠핑장 이용안내용-->
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
     
      
       <!-- 위에는 여백 밑에는 이용안내 -->
       <div class="sub_title">
          <h3>Camping Guide</h3>
          <span>캠핑장 이용안내</span>
          <p>use our Camping Guide, probably it will be little bit help</p>
      </div>
      <hr>


      <!-- 안내사항 -->


      <div class="Using-Guide">
        <div class="Guide-img">
            <img src="/static/img/information/camping03.jpg" alt="Using-Guide" class="using-img">
            
        </div>

        <!-- 이용 안내 -->
        <div class="Guide-text">
          <h3 style="font-size: 50px; font-weight: 900; ">이용 안내</h3>
          <br>
          
            <dl>
              <dt>
                 <strong>
                  안녕하세요, OO캠핑장 관리자 입니다.
                  <br>
                   이용 시설에 관한 문의 사항이나, 환불에 대한 사항은
                  <br>
                  아래의 전화번호로 연락주시길 바랍니다.
                  <br>
                  tel) 010 - 9402 -3853
                 </strong>
                <br>
              </dt>
             <div class="guide-text1"> 
                <dd>
                  <ul>
                    <li><strong>[입실/퇴실]</strong></li>
                    <li>입실시간: 15:00~</li>
                    <li>퇴실시간: 13:00~</li>
                    <li style="color: red;">체크인 하기전 사전문의 필수</li>
                  </ul>
                  <ul>
                    <li><strong>[유아기준]</strong></li>
                    <li>0~5세 : 70% 할인</li>
                    <li>6~13세: 30% 할인</li>
                    <li>14~19세:10% 할인</li>
                  </ul>
                  <ul>
                    <li><strong>[아영시간]</strong></li>
                    <li>09:00 ~ 23: 00 까지</li>
                    <li>야영시간외에 불이익은 책임지지 않습니다</li>
                  </ul>
                  <ul>
                    <li><strong>[차박 여부]</strong></li>
                    <li>여름(17시 ~ 다음날 15시까지)</li>
                    <li>겨울(24시간 운영)</li>
                    <li>*우천시,우박시 차박 불가능*</li>
                  </ul>
                  <ul>
                    <li><strong>[화로 대여]</strong></li>
                    <li>캠프 파이어 용도: 문의</li>
                    <li>불멍 화로 : 무료</li>
                    <li>*부품 손해 시 배상청구*</li>
                  </ul>
                  <ul>
                    <li><strong>[하절기 수영장]</strong></li>
                    <li>이용시간 : 15:00 ~ 21:00시</li>
                    <li>크 기 : 23m x 10m / 수심 : 1m 20cm</li>
                    <li>복 장 : 자유</li>
                  </ul>
                 <div> 
                    <ul>
                      <li><strong>[수영장 이용 안전수칙]</strong></li>
                      <li>-입수 전 준비운동을 합니다</li>
                      <li>12세이하 어린이는 반드시 성인과 함께 입수합니다.</li>
                      <li>아쿠아슈즈 착용을 권장합니다.</li>
                      <li>미취학 아동은 구명 조끼를 착용해야 합니다.</li>
                      <li>수영장에서 절대 뛰거나 다이빙은 금지입니다.</li>
                      <li>외부음식 반입 금지입니다.</li>
                      <li>수영장에서 소변 및 코를 풀거나 침을 뱉지 마십시오</li>
                      <li>음주 후 수영장 이용은 절대 불가합니다.</li>
                    </ul>
                    <ul>
                      <li><strong>객실정보</strong></li>
                      <li>전 객실 오닉스 스튜디오7 스피커 설치완료</li>
                      <li>전 객실 무료 Wi-fi 제공</li>
                      <li>수건은 2인 기준 대형타월1장, 일반타월4장이 제공</li>
                      <li>수건 추가시 비용 본인 부담</li>
                    </ul>
                  </div>
                </dd>
              </div>
            </dl>
        </div>
      </div>
      <!-- 여기까지가 안내사항 -->
      

      <br>
      <br>
      <!-- 환불 정책 라인 -->
      
      <div class="sub_title">
        <h3>Refund policy</h3>
        <span>환불정책</span>
        <p>Please read the refund policy and contact us if you have any questions</p>
    </div>
    <hr>
      <!-- 여기서부터는 환불 정책 -->
      <div class="refund">
          <div class="refund-img-div">
              <img src="/static/img/information/refund.jpg" alt="" class="refund-img">
          </div>
          <div class="refund-text">
              <dl>
                <strong style="font-size: 50px;">Refund policy</strong>
                <dt>
                  예약 및 취소시 환불 규정입니다. 규정에 해당되는 
                  <br>
                  사항이 없거나, 문의 사항이 있을시에 연락 주시길 바랍니다.
                </dt>
                <br>
                <dd>
                  <ul>
                     <li>---올바른 예약문화의 정착을 위하여 불가피한 조치이오니 
                      <br>
                      양해 부탁드립니다</li>
                      <br>
                     <li>---보호자 동반 없는 미성년자 예약 발견 시 
                      <br>
                      환불 없이 예약 취소됩니다.</li>
                      <br>
                      <li>---예약일 변경 시 발생하는 수수료도 취소 수수료가 
                        <br>
                        동일하게 적용되오니 예약 시 신중하게 생각하시고 결정해 주시기 바랍니다.</li>
                  </ul>
                </dd>
              </dl>
          </div>
      </div>


      <!-- 환불 테이블 -->
      <div class="refund-table">
          <table class="policy-table">
              <thead>
                <strong style="font-size: 50px;  overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;">
                Refund 
                </strong>
              </thead>
              <tr>
                <th>기준</th>
                <th>취소 수수료(%)
                  <br>
                  *부가세 별도
                </th>
                <th>환불금액(%)</th>
              </tr>
              <tr>
                <td style="color: red;">예약당일취소</td>
                <td>100%</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>취소 1일 전</td>
                <td>80%</td>
                <td>20% </td>
              </tr>
              <tr>
                <td>취소 2일 전</td>
                <td>70%</td>
                <td>30% </td>
              </tr>
              <tr>
                <td>취소 3일 전</td>
                <td>60%</td>
                <td>40% </td>
              </tr>
              <tr>
                <td>취소 4일 전</td>
                <td>50%</td>
                <td>50%</td>
              </tr>
              <tr>
                <td>취소 5일 전</td>
                <td>40%</td>
                <td>60%</td>
              </tr>
              <tr>
                <td>취소 6일 전</td>
                <td>20%</td>
                <td>80%</td>
              </tr>
              <tr>
                <td>취소 7일 전</td>
                <td>0%</td>
                <td>100%</td>
              </tr>
          </table>
      </div>
<!-- 환불 테이블 끝남 -->
      <div>
        <footer class="footer-container">
          <h6>Tel)
            <br>
            010-9402-3853
            <br>
            Bank Account)
            <br>
            478101-04-441526(국민)
            <br>
            e-mail)
            <br>
            mbh219@naver.com
          </h6>
      
          <p>주소:강원도 원주시 판부면 백운산길 67-105
            <br>
            업체명: 캠팡 || 대표자: 5조
          </p>
          <div class="tent-btn" id="tent-btn"><span id="tent-span">Tent</span><p class="arrow_box">텐트대여</p></div>
          <div class="Guide-btn" id="guide-btn"><span id="guide-span">Guide</span><p class="arrow_box">가이드</p></div>
          <div class="refund-btn" id="refund-btn"><span id="refund-span">Refund</span><p class="arrow_box">환불정책</p></div>
          <a href="#" class="top">▲</a>
          
        </footer>
      </div>
        <!-- offcanvas -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">상세안내</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a>텐트 대여료,구매 가이드</a></li>
              <li class="list-group-item"><a>캠핑장 이용 가이드</a></li>
              <li class="list-group-item"><a>환불 정책</a></li>
            </ul>
          </div>
        </div>
    </div>    


        <script>
        
       $('.tent-btn').on('click',function(){
          window.scrollTo({top: 350, behavior: "smooth"});
       })
       $('.Guide-btn').on('click',function(){
        window.scrollTo({top:1305, behavior:"smooth"});
       })
       $('.refund-btn').on('click',function(){
        window.scrollTo({top: 2375, behavior:"smooth"});
       })
        
       window.addEventListener('scroll',function(){
                if(scrollY <= 350){
                    $('.navbar').css('background','transparent');
                }
                else{
                    $('.navbar').css('background-color','var(--background-color)');
                }
            })

      
      
        </script>
       <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>