<html>
    <head>
        <meta charset="utf-8">
        <title>login</title>
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>    
        <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 네이버계정 로그인 -->
        <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <style>
            :root {
                --text-color: floralwhite;
                --background-color: lightsteelblue;
                --accent-color: #E5874A;
            }
            .login{
                width: 410px;
                /* margin: auto;
                height: 100%; */
                margin-top: 30px;
                position: absolute;
                top: 50%;
                left: 50%;  
                transform: translate(-50%, -50%);
                text-align: center;
                font-family: 'Montserrat', sans-serif,  'Noto Sans KR', sans-serif; 
            }
            .login h2{
                padding: 0 0 20px 0;
                font-size: 32px; 
                color: black;
                border-bottom: 2px solid black;
                text-align: center;
                line-height: 1;
                /* 줄간격없애기 */
            }

            .login > ul{
                padding-left: 0;
                padding: 10px 0 0 0;
            }
            .login > ul li{
                padding:0 0 12px 0;
                list-style: none;
                text-align: left;
            }
            .login > ul li input{
                width: 100%;
                height: 46px;
                text-indent: 16px;
                border: 1px solid darkgray;
                border-radius: 6px;
            }
            .login > ul li input::-webkit-input-placeholder{
                /* font-size:16px;  */
                color:darkgray;
                text-indent: 16px;
            }
            .login > ul li input[type="checkbox"]{
                position:absolute;
                left: -3000%;
            }
            .login > ul li input[type="checkbox"] + label{
                height: 36px;
                line-height: 36px;
                font-size: 13px;
            }
            .login > ul li input[type="checkbox"] + label:before {
                content:"";
                display: inline-block;
                margin: 0 7px 0 0;
                width: 18px;
                height: 18px;
                border: 1px solid #666;
                border-radius: 10px;
                background-color: white;
                vertical-align: -5px;
            }
            .login > ul li input[type="checkbox"]:checked + label:before{
                background: var(--accent-color)  url(/static/img/white-check-mark-icon.png) no-repeat center/ 11px auto;
                border-color: var(--accent-color)
                /* background: url() no-repeat #666; */
            }

            .login button{
                width: 100%;
                height: 56px;
                line-height: 56px;
                background: var(--accent-color);
                border: var(--accent-color);
                font-size: 18px;
                color: var(--text-color);
                border-radius: 50px;
            }
            .login button:hover{
                cursor: pointer;
            }

            
            .login div{
                padding: 0 0 5px 0;
            }
            .login div ul{
                display: flex;
                justify-content: center;
                list-style: none;
                padding-left: 0;
            }
            .login div ul li{
                position: relative;
                padding: 0 19px;
            }
            .login div ul li ~ li:after{
                content: "";
                position: absolute;
                left: 0;
                top: 5px;
                height: 14px;
                width: 1px;
                background: black;
                transform: rotate(25deg);
            }
            .login a{
                color: black;
                text-decoration: none;
            }
            .login a:hover{
                color: #666;
            }
            .login div ul li a{
                font-size: 14px;
            }

            .login > a{
                font-size: 14px;
                color: #666;
                /* padding: 0 0 1px 0; */
                border-bottom: 1px solid #666;
                /* 혼자 있기 때문에 boder로 줘도 괜찮은데 */
                /* 다른 것과 같이 있을 경우에는 after써서 position을 주는 게 나음 */
            }
            .login-btn{
                display: flex;
                justify-content: space-around;
            }

            @media screen and (max-width:440px){
                .login{
                    width: 90%;
                }
            }
            
        </style>
        <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    </head>
    <body>
        <%-include("navbar_test.ejs")%>
        <div id="wrapper" class="container">
            <section class="login">
                <h2>로그인</h2>
                <ul>
                    <li><input type="text" placeholder="아이디" title="아이디입력" id="user_id" name="user_ID"></li>
                    <li><input type="password" placeholder="비밀번호" title="비밀번호입력" id="user_pwd" name="user_PWD"></li>
                    <li><input type="checkbox" id="chk_id">
                        <!-- before -->
                        <label for="chk_id">아이디저장</label>
                    </li>
                    <li><button id="login_btn" type="submit">로그인</button></li>
                    <div class="login-btn">
                        <div id="naver_id_login"></div>
                        <div>
                            <a href="javascript:kakaoLogin();"><img src="/static/img/naver, kakao/kakao_login_large_narrow.png" title="카카오 아이디로 로그인" alt="카카오계정 로그인" style="height: 40px;"/></a>
                        </div>
                    </div>                    
                </ul>
                <div>
                    <ul>
                        <li><a href="/member" style="color: black;">회원가입</a></li>
                        <li><a href="" style="color: black;">아이디찾기</a></li>
                        <li><a href="" style="color: black;">비밀번호찾기</a></li>
                    </ul>
                </div>
                <a href="">비회원 주문조회</a>
                
            </section>
        </div>
        <%-include("icon_new.ejs")%>
        <%-include("footer.ejs")%>

    </body>

    <script>
    var naver_id_login = new naver_id_login("xfjjB882kqibOxF6Tm2p", "http://localhost:8000/login");
  	var state = naver_id_login.getUniqState();
  	naver_id_login.setButton("white", 2,40);
  	naver_id_login.setDomain("http://localhost:8000/login");
  	naver_id_login.setState(state);
  	naver_id_login.setPopup();
  	naver_id_login.init_naver_id_login();

    document.getElementById('login_btn').addEventListener('click',function(){
       log_in_text();
    })

    function log_in_text(){
      function right(){
          var user_id =  /^[a-zA-Z0-9]*$/;
          var user_pwd =  /^[a-zA-Z0-9]*$/;
          if(!user_id.test($("input[name = 'user_ID']").val())){
            alert("올바른 아이디형식이 아닙니다.");
          }else if(!user_pwd.test($("input[name = 'user_PWD']").val())){
            alert("비밀번호는 한글을 지원하지 않습니다.");
          }else{
            window.location.href="/mmdaae";
            alert("로그인 되었습니다.");
          }
    }
        
      if($.trim($("#user_id").val())== '' && $.trim($("#user_pwd").val())==''){
        alert("아이디를 입력해주세요");
        alert("비밀번호를 입력해주세요");
      }else if($.trim($("#user_id").val())==''){
        alert("아이디를 입력해주세요");
      }
      else if($.trim($("#user_pwd").val())==''){
        alert("비밀번호를 입력해주세요");
      }else{
        right();
      }
    };
    </script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        Kakao.init('50a73088a22b4692f7b45f6925ef2d86'); //발급받은 키 중 javascript키를 사용해준다.
        console.log(Kakao.isInitialized()); // sdk초기화여부판단
        //카카오로그인
        function kakaoLogin() {
            Kakao.Auth.login({
              success: function (response) {
                Kakao.API.request({
                  url: '/v2/user/me',
                  success: function (response) {
                      console.log(response)
                  },
                  fail: function (error) {
                    console.log(error)
                  },
                })
              },
              fail: function (error) {
                console.log(error)
              },
            })
          }
        //카카오로그아웃  
        function kakaoLogout() {
            if (Kakao.Auth.getAccessToken()) {
              Kakao.API.request({
                url: '/v1/user/unlink',
                success: function (response) {
                    console.log(response)
                },
                fail: function (error) {
                  console.log(error)
                },
              })
              Kakao.Auth.setAccessToken(undefined)
            }
          }  
        </script>
</html>