<html>
    <head>
        <meta charset="utf-8">
        <title>login</title>
        <style>
            :root {
                --text-color: floralwhite;
                --background-color: lightsteelblue;
                --accent-color: #E5874A;
            }
            .login{
                width: 410px;
                position: absolute;
                top: 50%;
                left: 50%;  
                transform: translate(-50%, -50%);
                text-align: center;
            }
            .login h2{
                padding: 0 0 20px 0;
                font-size: 32px; 
                color: black;
                border-bottom: 2px solid black;
                text-align: center;
                line-height: 1;
                /* 줄간격없애기 */
            }

            .login > ul{
                padding-left: 0;
                padding: 10px 0 0 0;
            }
            .login > ul li{
                padding:0 0 12px 0;
                list-style: none;
                text-align: left;
            }
            .login > ul li input{
                width: 100%;
                height: 46px;
                text-indent: 16px;
                border: 1px solid darkgray;
                border-radius: 6px;
            }
            .login > ul li input::-webkit-input-placeholder{
                /* font-size:16px;  */
                color:darkgray;
                text-indent: 16px;
            }
            .login > ul li input[type="checkbox"]{
                position:absolute;
                left: -3000%;
            }
            .login > ul li input[type="checkbox"] + label{
                height: 36px;
                line-height: 36px;
                font-size: 13px;
            }
            .login > ul li input[type="checkbox"] + label:before {
                content:"";
                display: inline-block;
                margin: 0 7px 0 0;
                width: 18px;
                height: 18px;
                border: 1px solid #666;
                border-radius: 10px;
                background-color: white;
                vertical-align: -5px;
            }
            .login > ul li input[type="checkbox"]:checked + label:before{
                background: var(--accent-color)  url(/static/img/white-check-mark-icon.png) no-repeat center/ 11px auto;
                border-color: var(--accent-color)
                /* background: url() no-repeat #666; */
            }

            .login button{
                width: 100%;
                height: 56px;
                line-height: 56px;
                background: var(--accent-color);
                border: var(--accent-color);
                font-size: 18px;
                color: var(--text-color);
                border-radius: 50px;
            }
            .login button:hover{
                cursor: pointer;
            }

            
            .login div{
                padding: 0 0 25px 0;
            }
            .login div ul{
                display: flex;
                justify-content: center;
                list-style: none;
            }
            .login div ul li{
                position: relative;
                padding: 0 19px;
            }
            .login div ul li ~ li:after{
                content: "";
                position: absolute;
                left: 0;
                top: 5px;
                height: 14px;
                width: 1px;
                background: black;
                transform: rotate(25deg);
            }
            a{
                color: black;
                text-decoration: none;
            }
            .login div ul li a{
                font-size: 14px;
            }

            .login > a{
                font-size: 14px;
                color: #666;
                /* padding: 0 0 1px 0; */
                border-bottom: 1px solid #666;
                /* 혼자 있기 때문에 boder로 줘도 괜찮은데 */
                /* 다른 것과 같이 있을 경우에는 after써서 position을 주는 게 나음 */
            }
            
        </style>
        <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    </head>
    <body>
        <%-include("navbar_test.ejs")%>
        <section class="login">
            <h2>로그인</h2>
            <ul>
                <li><input type="text" placeholder="아이디" title="아이디입력"></li>
                <li><input type="password" placeholder="비밀번호" title="비밀번호입력"></li>
                <li><input type="checkbox" id="chk_id">
                    <!-- before -->
                    <label for="chk_id">아이디저장</label>
                </li>
                <li><button>로그인</button></li>
                <li><div id="naverIdLogin"></div></li>
            </ul>
            <div>
                <ul>
                    <li><a href="/member" style="color: black;" target="_self">회원가입</a></li>
                    <li><a href="" style="color: black;">아이디찾기</a></li>
                    <li><a href="" style="color: black;">비밀번호찾기</a></li>
                </ul>
            </div>
            <a href="">비회원 주문조회</a>
        </section>

    </body>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <script>
        const naverLogin = new naver.LoginWithNaverId(
   {
    clientId: "xfjjB882kqibOxF6Tm2p",
    callbackUrl: "http://localhost:8000/login",
    loginButton: {color: "green", type: 2, height: 40}
    }
   );
  

    naverLogin.init();
    naverLogin.getLoginStatus(function (status) {
      if (status) {
          const nickName=naverLogin.user.getNickName();
          const age=naverLogin.user.getAge();
          const birthday=naverLogin.user.getBirthday();

          if(nickName===null||nickName===undefined ){
            alert("별명이 필요합니다. 정보제공을 동의해주세요.");
            naverLogin.reprompt();
            return ;  
         }else{
          setLoginStatus();
         }
	}
    });
    console.log(naverLogin);

    function setLoginStatus(){
    
      const message_area=document.getElementById('message');
      message_area.innerHTML=`
      <h3> Login 성공 </h3>
      <div>user Nickname : ${naverLogin.user.nickname}</div>
      <div>user Age(범위) : ${naverLogin.user.age}</div>
      <div>user Birthday : ${naverLogin.user.birthday}</div>
      `;
     
      const button_area=document.getElementById('button_area');
      button_area.innerHTML="<button id='btn_logout'>로그아웃</button>";

      const logout=document.getElementById('btn_logout');
      logout.addEventListener('click',(e)=>{
        naverLogin.logout();
	location.replace("http://127.0.0.1:5500");
      })
    }
    </script>
</html>