<html>
    <head>
        <meta charset="utf-8">
        <title>login</title>
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>    
        
        <style>
            :root {
                --text-color: floralwhite;
                --background-color: lightsteelblue;
                --accent-color: #E5874A;
            }
            .login{
                width: 410px;
                /* margin: auto;
                height: 100%; */
                position: absolute;
                top: 50%;
                left: 50%;  
                transform: translate(-50%, -50%);
                text-align: center;
            }
            .login h2{
                padding: 0 0 20px 0;
                font-size: 32px; 
                color: black;
                border-bottom: 2px solid black;
                text-align: center;
                line-height: 1;
                /* 줄간격없애기 */
            }

            .login > ul{
                padding-left: 0;
                padding: 10px 0 0 0;
            }
            .login > ul li{
                padding:0 0 12px 0;
                list-style: none;
                text-align: left;
            }
            .login > ul li input{
                width: 100%;
                height: 46px;
                text-indent: 16px;
                border: 1px solid darkgray;
                border-radius: 6px;
            }
            .login > ul li input::-webkit-input-placeholder{
                /* font-size:16px;  */
                color:darkgray;
                text-indent: 16px;
            }
            .login > ul li input[type="checkbox"]{
                position:absolute;
                left: -3000%;
            }
            .login > ul li input[type="checkbox"] + label{
                height: 36px;
                line-height: 36px;
                font-size: 13px;
            }
            .login > ul li input[type="checkbox"] + label:before {
                content:"";
                display: inline-block;
                margin: 0 7px 0 0;
                width: 18px;
                height: 18px;
                border: 1px solid #666;
                border-radius: 10px;
                background-color: white;
                vertical-align: -5px;
            }
            .login > ul li input[type="checkbox"]:checked + label:before{
                background: var(--accent-color)  url(/static/img/white-check-mark-icon.png) no-repeat center/ 11px auto;
                border-color: var(--accent-color)
                /* background: url() no-repeat #666; */
            }

            .login button{
                width: 100%;
                height: 56px;
                line-height: 56px;
                background: var(--accent-color);
                border: var(--accent-color);
                font-size: 18px;
                color: var(--text-color);
                border-radius: 50px;
            }
            .login button:hover{
                cursor: pointer;
            }

            
            .login div{
                padding: 0 0 25px 0;
            }
            .login div ul{
                display: flex;
                justify-content: center;
                list-style: none;
            }
            .login div ul li{
                position: relative;
                padding: 0 19px;
            }
            .login div ul li ~ li:after{
                content: "";
                position: absolute;
                left: 0;
                top: 5px;
                height: 14px;
                width: 1px;
                background: black;
                transform: rotate(25deg);
            }
            .login a{
                color: black;
                text-decoration: none;
            }
            .login a:hover{
                color: #666;
            }
            .login div ul li a{
                font-size: 14px;
            }

            .login > a{
                font-size: 14px;
                color: #666;
                /* padding: 0 0 1px 0; */
                border-bottom: 1px solid #666;
                /* 혼자 있기 때문에 boder로 줘도 괜찮은데 */
                /* 다른 것과 같이 있을 경우에는 after써서 position을 주는 게 나음 */
            }
            
        </style>
    </head>
    <body>
        <%-include("navbar_test.ejs")%>
        <div id="wrapper">
            <section class="login">
                <h2>로그인</h2>
                <ul>
                    <li><input type="text" placeholder="아이디" title="아이디입력"></li>
                    <li><input type="password" placeholder="비밀번호" title="비밀번호입력"></li>
                    <li><input type="checkbox" id="chk_id">
                        <!-- before -->
                        <label for="chk_id">아이디저장</label>
                    </li>
                    <li><button>로그인</button></li>
                    <li><a href="/member" style="color: black;" target="_self">회원가입</a></li>
                    <li><a href="" style="color: black;">아이디찾기</a></li>
                    <li><a href="" style="color: black;">비밀번호찾기</a></li>
                </ul>
                <div>
                    <ul>
                        <li><a href="/views/member.ejs" style="color: black;">회원가입</a></li>
                        <li><a href="" style="color: black;">아이디찾기</a></li>
                        <li><a href="" style="color: black;">비밀번호찾기</a></li>
                    </ul>
                </div>
                <a href="">비회원 주문조회</a>
            </section>
        </div>

        <%-include("footer.ejs")%>

    </body>
</html>