<html>
    <head>
        <meta charset="utf-8">
        <title>login_test</title>
        <style>

        </style>
    </head>
    
    <body>
        <%-include("navbar_test.ejs")%>

        <div id="wrapper">
            <section class="login">
                <h2>로그인</h2>
            </section>
        </div>
            
        <%-include("footer.ejs")%>
    </body>
</html>