<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>오시는길</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/static/css/adress.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
   <div id="main">
    <div class="section">
    <!--오시는길-->
    <h3 class="title">
      <span class="title-bullet"></span>
      오시는길
    </h3>
    
    <!-- progress-bar -->

    <div class="map" id="inf">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12699.72370927841!2d127.9497716!3d37.273065!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf6cd1741ac3210b8!2z7LqE7YyM7Iqs66Gc7Jqw!5e0!3m2!1sko!2skr!4v1660714224155!5m2!1sko!2skr" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="iframe-img"></iframe>
    </div>
<div class="title-aria">
  <h3>캠팡</h3>
  <div class="title-group">
  <p class="adress-title">강원도 원주시 판부면 백운산길 67-105</p>
  <div class="button-group">
  <button class="left-button"><a href="https://map.naver.com/v5/entry/place/35296495?c=14243221.41255876,4477303.65856768,13,0,0,0,dh&placePath=%2Fhome&entry=plt">
    <span class="icon"><i class="fa-solid fa-arrow-down"></i></span>
    길찾기</a></button>
  <button class="right-button"><a href="https://map.naver.com/v5/entry/place/35296495?c=14243221.41255876,4477303.65856768,13,0,0,0,dh&placePath=%2Fhome&entry=plt">
    <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
    지도에서 보기</a></button>
</div>
</div> 
</div>
<!-- title-group -->
    <dl class="list-info">
        <dt class="item-title">
          <span class="icon"><i class="fa-solid fa-phone"></i></span>
          전화번호</dt>
        <dd class="item-description">033-763-0380</dd>
    </dl>
    <dl class="list-info">
        <dt class="item-title">
          <span class="icon"><i class="fa-solid fa-circle-info"></i></span>
          이용안내</dt>
        <dd class="item-description">
          <ul class="list-guide">
            <li class="item-guide">
            <div class="item-guide-group">
              <span><i class="fa-solid fa-calendar-check"></i></span>
              <span class="sub-text">예약</span>
            </div>
            </li>
            <li class="item-guide">
              <div class="item-guide-group">
                <span><i class="fa-solid fa-car"></i></span>
              <span class="sub-text">주차</span>
              </div>
            </li>
            <li class="item-guide">
              <div class="item-guide-group">
                <span><i class="fa-solid fa-dog"></i></span>
              <span class="sub-text">애완동물 동반</span>
              </div>
            </li>
            <li class="item-guide">
            <div class="item-guide-group">
              <span><i class="fa-solid fa-restroom"></i></span>
              <span class="sub-text">남/녀 화장실 구분</span>
            </div>
            </li>
          </ul>
    </dl>
    <!--근처에 놀거리-->
    <h3 class="title play">근처에 놀거리</h3>
<div class="img-group">
  <div class="images">
  <a href="#" class="banner-img"><img src="/static/img/water.jpg" alt="water">
  <p class="hover-text">열심히 저어라! 캠팡보트</p></a>
  </div>
  <div class="images">
    <a href="#" class="banner-img"><img src="/static/img/high.jpg" alt="high">
    <p class="hover-text">오싹오싹 스카이다이빙</p></a>
  </div>
  <div class="images">
    <a href="#" class="banner-img"><img src="/static/img/stone.jpg" alt="high">
    <p class="hover-text">캠팡의 명소! 돌탑쌓기</p></a>
  </div>
  <div class="images">
    <a href="#" class="banner-img"><img src="/static/img/information/camping-car.jpg" alt="high">
    <p class="hover-text">함께해서 더 즐거운<br>차박여행</p></a>
  </div>
</div>
  </div>
   </div>

  </body>
</html>