<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wave-main</title>
    <link rel="stylesheet" href="/static/css/wave.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
     <!--Hey! This is the original version  
 of Simple CSS Waves-->
 <%-include("navbar_test.ejs")%>  
 <div id="main">  
    <!--Content before waves-->  
    <div class="container">   
    <div class="main-contents">
        <div class="main-left">
            <h1 class="main-title">Let's go camppang</h1>
            <p class="main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id commodi adipisci non qui et consectetur, officiis dolorem libero excepturi. Impedit sunt repudiandae, earum tempora nemo iusto quo placeat quis culpa?</p>
        <div class="btn-group">
            <button class="button"><a href="#" class="button-text">enter the camppang</a></button>
        </div>
        </div>
        <div class="main-right">
            <div class="main-img">
                <img src="/static/img/wave/main-cmp.png" alt="">
            </div>
        </div>
    </div>
    </div> <!--header inner-->
    <!--Waves Container-->  
    <div id="mountain">  
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">  
    <defs>  
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />  
    </defs>  
    <g class="parallax">  
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0,101,209,0.5" />  
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,101,116,1)" />  
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(0,101,209,0.8)" />  
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#f15a24" />  
    </g>  
    </svg>  
    </div>  
    <!--Waves end-->  
    </div>  
    <!--Header ends-->  
    <!--Content starts-->
    <div id="section1">
        <div class="container">
        <div class="section-con">
            <img src="/static/img/wave/small-CAMPPANG-logo.png" alt="" class="title-camppang-logo">
            <div class="section-title-group">
             <h1 class="section1-title">How's the weather today ?</h1>
             <a href="https://weather.naver.com/today/09440109" class="weather">
                 <span class="title-icon"><i class="fa-solid fa-circle-plus"></i></span>
             </a>
            </div>
            <div class="weather-content">
                <!--여기 weather 넣을 예정-->
                <%-include("weather.ejs")%>
            </div>
        </div>
        </div>
    </div>
    <section id="contact">
        <div class="contact-con">
            <div class="contact-btn">
                <a href="#" class="contact-button"></a>
            </div>  
            <div class="contact-bg">
                <img src="/static/img/wave/footer-bg.png" alt="circle-bg">
            </div>
            <div class="contact-text">
                <span class="camppang-text">
                CAMPPANG
                </span>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-con">
            <div class="footer-desc">
                <p class="footer-detail">
                    Copyright CAMPPANG All Rights Reserved.
                </p>
            </div>
            <!-- <div class="footer-logo">
            <img src="/static/img/wave/CAMPPANG-logo.png" alt="">
            </div> -->
        </div>
    </footer>
    <!-- <div class="tri">
        <img src="/static/img/wave/triangle-top.png" alt="">
    </div> -->
    <!--Content ends-->  
</body>
</html>