<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wave-main</title>
    <link rel="stylesheet" href="/static/css/wave.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
     <!--Hey! This is the original version  
 of Simple CSS Waves-->  
 <div class="header">  
    <!--Content before waves-->  
    <div class="inner-header flex">  
    <!--Just the logo.. Don't mind this-->  
    <div class="img-box">
        <img src="/static/img/wave/main-cmp.png" alt="cmp-img">
        <div class="main-text">
            <h1 class="main-title left">CAMPPANG</h1>
            <h1 class="main-title right">WITH US</h1>
        </div>
    </div> 
    </div> <!--header inner-->
    <!--Waves Container-->  
    <div id="mountain">  
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">  
    <defs>  
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />  
    </defs>  
    <g class="parallax">  
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0,101,209,0.5" />  
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,101,116,1)" />  
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(0,101,209,0.8)" />  
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#f15a24" />  
    </g>  
    </svg>  
    </div>  
    <!--Waves end-->  
    </div>  
    <!--Header ends-->  
    <!--Content starts-->
    <div id="section1">
        <div class="section1_con">
            <h5>컨텐츠제목</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia architecto voluptatum dolorem ex corrupti quos labore debitis et. Ipsam, commodi, quasi illum dolore accusamus quisquam maxime quod quae voluptas vitae facilis eum dolores magni ex sint asperiores, molestias perspiciatis excepturi nesciunt autem doloribus? Molestiae quo voluptas delectus velit ducimus quam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia architecto voluptatum dolorem ex corrupti quos labore debitis et. Ipsam, commodi, quasi illum dolore accusamus quisquam maxime quod quae voluptas vitae facilis eum dolores magni ex sint asperiores, molestias perspiciatis excepturi nesciunt autem doloribus? Molestiae quo voluptas delectus velit ducimus quam!</p>
        </div>
    </div>  
    <!--Content ends-->  
</body>
</html>