<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wave-main</title>
    <link rel="stylesheet" href="/static/css/wave.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
     <!--Hey! This is the original version  
 of Simple CSS Waves-->
 
         <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/acfe1c41fb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/navbar_test.css">
        <nav class="navbar">
            <div class="navbar_logo">
                <i class="fa-solid fa-tents"></i>
                <a href="/mmdaae">CAMPPANG</a>
            </div>

            <ul class="navbar_menu">
                <li><a href="/mmdaae" target="_self">Home</a></li>
                <li><a href="/Information" target="_self">Information</a></li>
                <li><a href="/tools" target="_self">Tools</a></li>
                <li><a href="/food_new" target="_self">Foods</a></li>
                <li><a href="/mdaae" target="_self">Map</a></li>
            </ul>

            <ul class="navbar_icons">
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></a></i></li>
                <li><a href="https://ko-kr.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="/login" target="_blank">login</a></li>
            </ul>

            <a class="navbar_toggleBtn">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav>

     
 <div id="main">  
    <!--Content before waves-->  
    <div class="container">   
    <div class="main-contents">
        <div class="main-left">
            <h1 class="main-title">열심히 일하고<br>캠팡간다</h1>
            <p class="main-text">열심히 일한 당신! 오늘만큼은 쉬어라.</p>
        <div class="btn-group">
            <button class="button"><a href="#section1" class="button-text">들어가기</a></button>
        </div>
        </div>
        <div class="main-right">
            <div class="main-img">
                <img src="/static/img/wave/main-cmp.png" alt="">
            </div>
        </div>
    </div>
    </div> <!--header inner-->
    <!--Waves Container-->  
    <div id="mountain">  
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">  
    <defs>  
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />  
    </defs>  
    <g class="parallax">  
    <use xlink:href="#gentle-wave" x="48" y="0" fill="#686D4E" />  
    <use xlink:href="#gentle-wave" x="48" y="3" fill="#40251E" />  
    <use xlink:href="#gentle-wave" x="48" y="5" fill= #F79B29 " />  
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#f15a24" />  
    </g>  
    </svg>  
    </div>  
    <!--Waves end-->  
    </div>  
    <!--Header ends-->  
    <!--Content starts-->
    <div id="section1">
        <div class="container">
        <div class="section-con">
            <!-- <img src="/static/img/wave/small-CAMPPANG-logo.png" alt="" class="title-camppang-logo"> -->
            <!--here in video -->
            <div class="video-wrap">
                <video type="video/mp4" src="/static/img/information/movie/Camp01.mp4" muted autoplay="autoplay"  id="VideoPlay" onended="" width="900px">
                </video>
            </div>
            <div class="section-title-group">
             <h1 class="section1-title">우리,캠팡가자</h1>

            </div>
<div id="weather-toggle">
    <div class="weather-content">
        <h1 class="section1-title2">잠깐!<br>오늘, 날씨 어때?</h1>
        <!--여기 weather 넣을 예정-->
        
<link rel="stylesheet" href="/static/css/weather.css">
<script src="/static/js/weather.js" defer></script>


<div class="container">
<div class="card">
  <div class="search">
    <input type="text" class="search-bar" placeholder="Search"autocomplete="off" >
    <button><span><i class="fa-solid fa-magnifying-glass-location"></i></span>
    </button>
  </div>
  <div class="weather">
    <h2 class="city"></h2>
    <h1 class="temp"></h1>
    <div class="flex">
      <img src="https://openweathermap.org/img/wn/10d.png";" alt=""class="icon"/>
      <div class="description"></div>
  </div>
    <div class="humidity">humidity: 60%</div>
    <div class="wind">wind: 60%</div>
  </div>
</div>
</div><!--weather-box-->

    </div>
</div>
        </div>
        </div>
    </div>
    <!-- <section id="contact">
        <div class="contact-con">
            <div class="contact-btn">
                <a href="#" class="contact-button"></a>
            </div>  
            <div class="contact-bg">
                <img src="/static/img/wave/footer-bg.png" alt="circle-bg">
            </div>
            <div class="contact-text">
                <span class="camppang-text">
                CAMPPANG
                </span>
            </div>
        </div>
    </section> -->

    <footer id="footer">
        <div class="footer-con">
                <p class="footer-detail">
                    camppang<br>Copyright CAMPPANG All Rights Reserved.
                </p>
            <!-- <div class="footer-logo">
            <img src="/static/img/wave/CAMPPANG-logo.png" alt="">
            </div> -->
        </div>
    </footer>
    <!-- <div class="tri">
        <img src="/static/img/wave/triangle-top.png" alt="">
    </div> -->
    <!--Content ends-->  
    <script>
        const toggleBtn = document.querySelector('.navbar_toggleBtn');
        console.log(toggleBtn);
        const menu = document.querySelector('.navbar_menu');
        const icons = document.querySelector('.navbar_icons');
        toggleBtn.addEventListener('click', function(){
            menu.classList.toggle('active');
            icons.classList.toggle('active');
        });
    
        // window.addEventListener('scroll',function(){
        //     if(scrollY <= 350){
        //         $('.navbar').css('background','transparent');
        //     }
        //     else{
        //         $('.navbar').css('background-color','var(--background-color)');
        //     }
        // })

    </script>  
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>