
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fa-solid fa-tents"></i>
            <a href="">CAMPPANG</a>
        </div>

        <ul class="navbar_menu">
            <li><a href="">Home</a></li>
            <li><a href="">Information</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a href="">Foods</a></li>
            <li><a href="">Map</a></li>
        </ul>
 
        <ul class="navbar_icons">
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-facebook-f"></i></li>
            <li><a class="login" href="#">login</a></li>
        </ul>

        <a href="#" class="navbar_toggleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>

    <script>
        const toggleBtn = document.querySelector('.navbar_toggleBtn');
        console.log(toggleBtn);
        const menu = document.querySelector('.navbar_menu');
        const icons = document.querySelector('.navbar_icons');

        toggleBtn.addEventListener('click', function(){
            menu.classList.toggle('active');
            icons.classList.toggle('active');
        });

    </script>