<html>
    <head>
        <meta charset="utf-8">
        <title>캠핑장비대여</title>
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>    
        <!-- navbar font & css-->
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/acfe1c41fb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/navbar.css">
        <!-- jquery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js">
		</script>

        
        <style>
            :root {
            --accent-color:  #E5874A;
            }
            @font-face {
                font-family: 'ChosunGu';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
            .container{
                font-family: 'ChosunGu';
                line-height: 180%;
            }
            .tools_title{
                margin-top: 100px;
                margin-bottom: 30px;
                color:var(--accent-color);
                font-weight: 600;
            }
            .tools{
                margin-top: 100px;
            }
            .tools_subtitle{
                margin:30px 0px;
            }

            .tools_item_list{
                margin: 25px;
            }

            .tools_item_list span{
                margin: 8px 10px;
                display: inline-block;
            }
            .tools_item_list a{
                color:black
            }
            .tools_item_list a:hover{
                color: var(--accent-color);
                font-weight: 600;
            }

            .tools_item_ex{
                margin: 50px 0px;
                padding-left: 0px;
            }
            .tools_item_ex li{
                margin: 30px 0px;
                text-align: center;
                list-style: none;
            }
            .tools_item_ex li>div{
                padding: 30px;
                border-radius: 20px;
                text-align: center;
                /* background-color: var(--accent-color) rgba(0,0,0, 0.1); */
            }
            .tools_item_ex li>div:hover, .tools_item_ex .highlight{
                box-shadow: 0px 0px 40px -10px lightgray;
            }

            .tools_item_ex img{
                width: 100%;
                border-radius: 20px;
                cursor: pointer;
            }
            .tools_item_ex li div div:nth-child(2){
                font-size: 1.2em;
                font-weight: 700;
                margin-top: 15px;
            }

            .tools_guide>div{
                display: flex;
                margin: 25px;
                padding-top: 8px;
            }
            .tools_guide h5{
                margin-right: 50px;
            }
            .tools_guide div div{
                margin-left: 70px;
            }
            @media screen and (max-width:992px) {
                .tools_guide_time{
                    justify-content: space-between;
                }
                .tools_guide_prec{
                    flex-direction: column;
                }
            }

        </style>
    </head>
    <body>
        <%-include("navbar.ejs")%>

        <div class="container">
            <h4 class="tools_title">캠핑용품 대여</h3>
            <hr>
            <div class="tools tools_item">
                <h4 class="tools_subtitle">대여품목</h4>
                <hr>
                <div class="tools_item_list">
                    <span data-target="a"><a href="#aa">차량 어닝</a></span>
                    <span data-target="b"><a href="#bb">캠핑 테이블</a></span>
                    <span data-target="c"><a href="#cc">접이식 미니 테이블</a></span>
                    <span data-target="d"><a href="#dd">접이식 캠핑 의자</a></span>
                    <span data-target="e"><a href="#ee">담요</a></span>
                    <span data-target="f"><a href="#ff">주전자</a></span>
                    <span data-target="g"><a href="#gg">가스 버너</a></span>
                    <span data-target="h"><a href="#hh">일회용 냄비 세트</a></span>
                    <span data-target="i"><a href="#ii">일회용 식기 세트</a></span>
                    <span data-target="j"><a href="#jj">무선 선풍기</a></span>
                    <span data-target="k"><a href="#kk">랜턴</a></span>
                </div>
                <hr>

                <ul class="tools_item_ex">
                    <div class="row">
                        <li class="col-12 col-md-6 col-xl-4">
                            <div data-source="a" id="aa">
                                <img src="/static/img/tools/차량어닝.jpg">
                                <div>챠량 어닝</div>
                                <div>강한 햇빛에도 그늘을 만들어 줄 차량어닝</div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-xl-4">
                            <div data-source="b" id="bb">
                                <img src="/static/img/tools/캠핑테이블.jpg">
                                <div>캠핑 테이블 1ea</div>
                                <div>조립이 편리한 캠핑테이블</div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-xl-4">
                            <div data-source="c" id="cc">
                                <img src="/static/img/tools/접이식미니테이블.jpg">
                                <div>접이식 미니 테이블 1ea</div>
                                <div>차량에서 간단한 취식이나 테이블을 사용할 수 있도록 준비한 접이식 미니 테이블 </div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-xl-4">
                            <div data-source="d" id="dd">
                                <img src="/static/img/tools/접이식캠핑의자.jpg">
                                <div>접이식 캠핑의자 2ea</div>
                                <div>편안한 차박을 위해 야외에서 사용 가능한 캠핑의자</div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-xl-4">
                            <div data-source="e" id="ee"> 
                                <img src="/static/img/tools/담요.jpg">
                                <div>담요</div>
                                <div>캠핑 감성 분위기에 어울리는 담요</div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-xl-4">
                            <div data-source="f" id="ff">    
                                <img src="/static/img/tools/주전자.jpg">
                                <div>주전자 1ea</div>
                                <div>미니 버너를 이용해 간단한 커피나 차, 라면 등을 끓일 수 있는 주전자</div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-xl-4">
                            <div data-source="g" id="gg">
                                <img src="/static/img/tools/가스버너.jpg">
                                <div>가스 버너</div>
                                <div>간단한 조리를 위한 가스 버너</div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-xl-4">
                            <div data-source="h" id="hh">
                                <img src="/static/img/tools/냄비세트.jpg">
                                <div>일회용 냄비 세트</div>
                                <div>편안한 사용을 위한 알루미늄 일회용 냄비 세트</div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-xl-4">
                            <div data-source="i" id="ii">
                                <img src="/static/img/tools/식기세트.jpg">
                                <div>일회용 식기 세트</div>
                                <div>편안한 사용을 위한 일회용 식기 세트</div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-xl-4">
                            <div data-source="j" id="jj">
                                <img src="/static/img/tools/무선선풍기.jpg">
                                <div>무선 선풍기 1ea</div>
                                <div>더운 여름 필수인 무선 선풍기</div>
                            </div>
                        </li>
                        <li class="col-12 col-md-6 col-xl-4">
                            <div data-source="k" id="kk">
                                <img src="/static/img/tools/랜턴.jpg">
                                <div>랜턴 1ea</div>
                                <div>감성 캠핑 무드를 만들어줄 무드 랜턴</div>
                            </div>
                        </li>
                    </div>
                </ul>
                <hr>
            <div class="tools tools_guide"> 
                <h4 class="tools_subtitle"> 대여 관련 안내 </h4>
                <hr>
                <div class="tools_guide_time">
                    <h5>대여 시간</h5>
                    <div>10:00 ~ 18:00</div>
                </div>
                    <hr> 
                <div class="tools_guide_prec">
                    <h5>대여시 주의사항</h5>
                    <ol>
                        <li>오전10시에서 오후6시 사이 안내소에서 유의사항 동의 서명 후 대여 가능합니다.</li>
                        <li>사용하신 물품은 박스에 다시 넣으신 후 퇴실하실 때 반납해주세요</li>
                        <li>기물손상 및 분실시 피해보상은 대여시점 원상복구를 원칙으로 하며 고객변상 100%입니다.</li>
                    </ol>
                </div>
                <hr>
            </div>
        </div>
        

        <script>
            $(".tools_item_list>span").click(function(){
                console.log($(this).data("target"));
                $(".highlight").removeClass("highlight");
                // 난 왜 이런 생각이 안 들까....
                $(".tools_item_ex li > div[data-source="+$(this).data("target")+"]").addClass("highlight");
            });

            $(".tools_item_ex li>div").click(function(){
                $(".highlight").removeClass("highlight");
                $(this).addClass("highlight");
            });

        </script>
    </body>
</html>

<!-- <a href=”#이동위치이름”> 위치 이동 클릭</a>
<a id=”이동위치이름”> 이동할 위치</a> -->