
  <link rel="stylesheet" href="/static/css/weather.css">
  <script src="/static/js/weather.js" defer></script>


  <div class="container">
        <div class="card">
          <div class="search">
            <input type="text" class="search-bar" placeholder="Search"autocomplete="off" >
            <button>iii
            </button>
          </div>
          <div class="weather">
            <h2 class="city"></h2>
            <h1 class="temp"></h1>
            <div class="flex">
              <img src="https://openweathermap.org/img/wn/10d.png";" alt=""class="icon"/>
              <div class="description"></div>
          </div>
            <div class="humidity">humidity: 60%</div>
            <div class="wind">wind: 60%</div>
          </div>
        </div>
  </div>
