    /* reset css */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body{
        font-family:'Noto Sans KR', sans-serif; 
        scroll-behavior: smooth;
      }
      a{
        text-decoration: none;
      }
      .container{
        width: 1200px;
        margin: 0 auto;
        margin-top: 100px;
      }
      .play-contents{
        /* width: 1200px; 반응형 만들때 스크롤 생기게 하는 원인 */ 
        margin: 0 auto;
      }
      .title{
      position: relative;
      font-size: 20px;
      padding: 20px 0 ;
      color: #e5874a;
      font-weight: 400;
      letter-spacing: -.8px;
      }
      .play{
        margin-top: 80px;
      }
      .title-group{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        position: relative;
        justify-content: space-between;
      }
      .button-group:hover{
        background-color: azure;
      }

      .adress-title{
        font-size: 26px;
        line-height: 38px;
        color: #e5874a;
      }
      .button-group a{
        text-decoration: none;
        display: block;
        color: #fff;
        padding: 10px;
      }
      .left-button{
        padding: 0 20px;
        border-color: transparent;
        background-color: #e5874a;
      }
      .right-button{
        padding: 0 20px;
        border-color: transparent;
        background-color: #e5874a;
      }
      .section2_con{
        margin-bottom: 30px;
      }
  /* .title-bullet{
    position: absolute;
      left: 0;
      bottom: -10px;
      width: 30px;
      height: 1px;
      z-index: 1;
      background-color: #e5874a
  } */
  .title-bullet::after{
  
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      bottom: -10px;
      content: '';
      width: inherit;
      height: 1px;
      background-color: #d1d1d1;
  }
  .title-aria{
    
    padding: 0 265px 0 20px;
      margin: 40px 0;
      height: auto;
      max-height: 140px;
  }
  .list-info{
    padding: 30px 0;
      letter-spacing: -1px;
      font-size: 15px;
      line-height: 22px;
      border-top: 1px solid #d1d1d1;
  }
  .item-title{
    float: left;
      width: 168px;
      padding-left: 10px;
      font-size: 15px;
      color: #111;
  }
  ul li{
    list-style: none;
  }
  .item-guide{
    float: left;
    margin-right: 9px;
  }
  .icon{
    margin-right: 10px;
  }
  .images img{
    width: 300px;
    height: 300px;
  }
  .img-group{
    display: flex;
    padding-bottom: 40px;
  }
  .iframe-img{
    width: 100%;
  }
  /*hover-img*/
  img{
    vertical-align: top;
  }
  .hover-text{
    display: none;
  }
  .banner-img{
    display: inline-block;
    position: relative;
  }
  .banner-img:hover:after,
  .banner-img:hover > .hover-text{
    display: block;
  }
  .banner-img:after{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  .banner-img{
    overflow: hidden;
  }
  .banner-img img{
    height: 340px;
  }
  .banner-img:hover img{
    transform: scale(1.2);
    transition: 1s;
  }
  .hover-text {
    position: absolute;
    top: 140px;
    left: 25px;
    color: #fff;
    z-index: 20;
    font-weight: 600;
    font-size: 20px;
  }
  .hover-text{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
  }
  .item-guide{
    display: inline-block;
    min-width: 80px;
    text-align: center;
    letter-spacing: -.6px;
    color: #666;
    vertical-align: top;
  }
  .item-guide-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.navbar_toggleBtn{
  top: 7px !important;
}
  
  /*------------------------------ top 버튼
  .top-button{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
    box-shadow: 3px 4px 10px 2px rgb(0 0 0 / 20%);
    transition: .2s ease-out;
  }

  } 
  .text-blind{
    display: none;
    margin-left: 10px;
    font-size: 20px;
    vertical-align: top;
    line-height: 60px;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
  }*/
  /*------------------------------ 미디어쿼리*/
  @media screen and (max-width:499px) {
    
    .adress-title{
      font-size: 19px;
    }
    .title-aria{
      padding: 0;
    }
    .title-group{
      display: flex;
      flex-direction: column;
    }
    .item-guide{
      min-width: 29px;
    }
    .list-info{
      font-size: 13px;
    }
  }
  @media screen and (min-width:500px) and (max-width:768px) {
    .title{
      font-size: 16px;
    }
    .map{
    }
    .iframe-img{
      width: 100%;
    }
    h3{
      display: inline-block;
    }
    .title-bullet::after{
      width: inherit;
    }
    .item-guide{
      min-width: 44px;
    }
    .item-title{
      width: 149px;
    }
    .adress-title{
      font-size: 18px;
    }
    .title-group{
      flex-direction: column;
    }
    .banner-img img{
      width: 429px;
    }
    .title-aria{
      padding: 0;
    }
    .list-info{
      font-size: 13px;
    }
  }
    @media screen and (min-width:769px) and (max-width:967px) {
      .map{
      }
      .iframe-img{
        width: 100%;
      }
      .title-group{
        flex-direction: column;
      }
      .title-aria{
        padding: 0;
      }
    }
      @media screen and (min-width:968px) and (max-width:1200px){
        .map{
          width: 931px;
          margin-left: 12px;
        }
        .iframe-img{
          width: 931px;
        }
        .title-group{
          flex-direction: column;
        }
      }
    