body{
    padding: 0px !important;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.floating_item{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;
    text-align: right;
}

.floating_item li{
    margin: 10px 0px;
}

.floating_item a{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 4px 10px 2px rgb(0 0 0 / 20%);
    transition: .25s ease-out;
    /* transform-origin: 0 100%; */
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 20px;
}
.floating_item a:hover{
    cursor: pointer;
}

.floating_item .top_item,
.top_item i{
    background-color: white;
    color: black !important;
}

.floating_item .basic_item:hover{
    width: auto;
    padding: 0 25px;
}

.floating_item i{
    display: inline-block;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    color: var(--text-color);
}

.floating_item .text{
    display:inherit;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
    vertical-align: top;
    line-height:60px;
    white-space: nowrap;
}

.hidden{
    display: none;
}

@media screen and (max-width:430px){
    .floating_item{
        right: 15px;
        bottom: 5px;
    }
    .floating_item li{
        margin: 5px 0px;
    }
    .floating_item a{
        width: 50px;
        height: 50px;
    }
    .floating_item i{
        height: 50px;
        font-size: 22px;
        line-height: 50px;
    }
}