.reserCon01{
    width: 100%;
    background: url(/static/img/01_01.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 35%;
}
.sub_title p, h3{
    color: #797878;
    font-weight: 600;
    margin-bottom: 0.5%;
    letter-spacing: 4px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-size: 10px;
}
.sub_title{
    text-align: center;
    width: 100%;
    padding: 15px;

}
.tent{
  width: 100%;
  height: 300px;
 
  text-align: center;
  display: flex;
}
.tent-img{
    width: 30%;
    height: inherit;
}
.tent-using{
    width: 60%;
    height: inherit;
    text-align: center;
    padding: 35px;
   
}
.tent-table{
    text-align: center;
    margin: auto;
}
table{
   text-align: center;
   width: 100%;
   border-spacing: 3px;
   
}
th{
padding: 10px;
background-color: #eeee;
font-weight: 600;
letter-spacing: 2px;
}
td{
    padding-top: 10px;
}
.Using-Guide{
    display: flex;
    width: 100%;
    height: 1300px;
    text-align: center;
    position: relative;
}
.Guide-img{
    width: 30%;
    height: 300px;
}
.Guide-text{
    width: 70%;
    height: inherit;
    text-align: center;
    
}
ul, li {
    list-style: none;
}
.mb20 {
    margin-bottom: 20px;
}

