#wrap{
    position: relative;
    overflow: hidden;
}


.reserCon01{
    width: 100%;
    background: url(/static/img/information/01_01.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 35%;
}
.sub_title p{
    color: #797878;
    font-weight: 600;
    margin-bottom: 0.5%;
    letter-spacing: 4px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-size: 10px;
}
.sub_title{
    text-align: center;
    width: 100%;
    padding: 15px;
}
.sub_title h3{
    color: #E5874A;
    font-weight: 600;
    margin-bottom: 0.5%;
    letter-spacing: 4px;
}

/* 텐트 이용 */

.tent{
  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  vertical-align: middle;
}
.tent-img{
    width: 40%;
    height: 500px;
    margin-left: 50px;
}
.tents-img{
    max-width: 100%;
    padding-right: 10px;
    width: 500px;
}
.table-first{
    width: 50%;
    height: 350px;
    text-align: center;
    margin-right: 150px;
}
.tent-table{
    width: 100%;
    text-align: center;
    height: auto;
    margin-left: 5px;
}
table td{
    font-size: 14px;
    padding: 10px;
}
table th{
    background-color:  #E5874A;
    color: aliceblue;
    
}
/* tent css 끝 */


/* 이용안내 css */
.Using-Guide{
    display: flex;
    width: 100%;
    height: 1100px;
    text-align: center;
    vertical-align: middle;
}
.Guide-img{
    max-width: 100%;
    min-width: 50%;
    width: auto;
    height: 350px;
    padding-right: 10px;
}
.Guide-text{
    width: 70%;
    height: 1100px;
    text-align: left;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.guide-text1{
    display: flex;
    flex-direction: row;

}
ul, li {
    list-style: none;
}
.mb20 {
    margin-bottom: 20px;
}
.using-img{
    max-width: 100%;
    width: auto;
    height: auto;
    padding-left: 50px;
}

.refund{
    display: flex;
    width: 100%;
    height: 500px;
    text-align: center;
    vertical-align: middle;
   
}
.refund-img-div{ 
    width: 50%;
    height: 500px;
    margin-left: 30px;
}
.refund-img{
    max-width: 100%;
    min-width: 50%;
    width: auto;
    height: 350px;
}
.refund-text{
    width: 50%;
    height: 500px;
    margin-right: 30px;
    text-align: left;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.refund-table{
    text-align: center;
    width: 40%;
    height: 700px;
    margin: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.policy-table{
    border: 1px solid #eeee;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.policy-table thead{
    font-size: 150px;
    border: 1px solid #eeee;
}
.policy-table td,th{
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #eeee;
    padding: 20px;
}
.footer-container{
    width: 100%;
    height: auto;
    background-color: #E5874A;
    color: azure;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}
.top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    z-index: 1;
    font-size: 30px;
    color: yellowgreen;
}
.top:hover{
    color: #E5874A;
    animation-name: bounce;
    animation-duration: 1s;

}
.tent-btn{
    position: fixed;
    bottom: 200px;
    right: 10px;
    width: 90px;
    height: 40px;
    z-index: 0;
    border: none;
    border-radius: 50px;
    background-color: yellowgreen;
    color: white;
    font-size: 20px;
    z-index: 0;
    cursor: pointer;
    padding: 5px 5px;
    
}
.tent-btn:hover{
    animation-duration: 1s;
    -webkit-animation-duration: 2s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;

}
.Guide-btn{
    position: fixed;
    bottom: 140px;
    right: 10px;
    width: 90px;
    height: 40px;
    z-index: 0;
    border: none;
    border-radius: 50px;
    background-color: yellowgreen;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 5px;
}
.Guide-btn:hover{
    -webkit-animation-duration: 5s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
.refund-btn{
    position: fixed;
    bottom: 80px;
    right: 10px;
    width: 90px;
    height: 40px;
    z-index: 0;
    border: none;
    border-radius: 50px;
    background-color: yellowgreen;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 5px;
}
.refund-btn:hover{
    -webkit-animation-duration: 10s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px) }
    60% {-webkit-transform: translateY(-20px);}
} 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
} 

.navbar{
    background-color: transparent; 
}
