
:root {
    --text-color: floralwhite;
    --background-color: lightsteelblue;
    --accent-color: #E5874A;
}
body{
    font-family:'Noto Sans KR', sans-serif; 
}
#wrap{
    position: relative;
    overflow: hidden;
}
th{
    background-color: var(--accent-color);
    font-weight: 900;
}

/* .reserCon01{
    width: 100%;
    background: url(/static/img/information/01_01.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 35%;
    animation-name: carousel;
    animation-duration: 30s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards, backwards;
} */
/* @keyframes carousel{
    0%{
        background: url(/static/img/information/01_01.jpg);
        background-size: cover;
        width: 100%;
        padding-bottom: 35%;
        display: none;
    }
    30%{
        background: url(/static/img/information/camping-car.jpg) no-repeat  center;
        background-size: cover;
        width: 100%;
        padding-bottom: 35%;
    }
    45%{
        background: url(/static/img/information/campping04.jpg)no-repeat center;
        background-size: cover;
        width: 100%;
        padding-bottom: 35%;
    }
    65%{
        background: url(/static/img/information/campping05.jpg)no-repeat center center;
        background-size: cover;
        width: 100%;
        padding-bottom: 35%;
    }
    85%{
        background: url(/static/img/information/BBQ01.jpg)no-repeat center center;
        background-size: cover;
        width: 100%;
        padding-bottom: 35%;
    }
    100%{
        background: url(/static/img/information/drink.jpg)no-repeat center center;
        background-size: cover;
        width: 100%;
        padding-bottom: 35%;
    }
} */
.jb-box{
    width: 100%;
    height: 800px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    min-width: 100%;
    min-height: auto;
    background-size: cover;
    padding-bottom: 0px;
}
video{
    width: 100%;
    object-fit: contain;
    background-size: fill;
}
@media screen and (max-width: 900px){
    .jb-box{
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin: 0px auto;
        position: relative;
        min-width: 100%;
        min-height: auto;
        background-size: fill;
        padding-bottom: 0px;
    }
    video{
        width: 100%;
        object-fit: cover;
        background-size: fill;
        height: 100%;
    }
}
.sub_title p{
    color: #797878;
    font-weight: 600;
    margin-bottom: 0.5%;
    letter-spacing: 4px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-size: 15px;
}
.sub_title{
    text-align: center;
    width: 100%;
    padding: 15px;
}
.sub_title h3{
    color: #E5874A;
    font-weight: 600;
    margin-bottom: 0.5%;
    letter-spacing: 4px;
    font-size: 35px;
}
@media screen and (max-width:950px){
    .sub_title{
        text-align: center;
        width: 100%;
        padding: 15px;
        height: 400px;
    }
    #sub_title3{
        text-align: center;
        width: 100%;
        padding: 15px;
        height: 250px;
    }
    #sub_title2{
        text-align: center;
        width: 100%;
        padding: 15px;
        height: 350px;
    }
    #sub_title1{
        text-align: center;
        width: 100%;
        padding: 15px;
        height: 350px;
    }
}

/* 텐트 이용 */
.tent{
    width: 100%;
    height: 500px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-around;
}

.tent-img{
    width: 500px;
    height: 500px;
    vertical-align: middle;
    text-align: center;

}
.tent-table{
    width: 50%;
    height: 600px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin-top: 150px;
}
.tent-table-form{
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 200px;
    align-items: center;
}
.tent-table-form td{
    padding: 15px;
     font-family: 'Montserrat', sans-serif,  'Noto Sans KR', sans-serif; 
}
@media screen and (max-width:950px){
    .tent{
        width: 100%;
        height: 900px;
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 50px;
    }
    .tent-img{
        width: 500px;
        height: 600px;
        vertical-align: middle;
        text-align: center;
        align-items: center;
    }
    .tent-table{
        width: 100%;
        height: auto;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        margin-top: 150px;
        overflow: scroll;
        padding: 10px;
    }
    .tent-table-form td{
        padding: 2px;
         font-family: 'Montserrat', sans-serif,  'Noto Sans KR', sans-serif; 
    }
}
.tent-img img{
    width: 500px;
    height: 500px;
    max-width: 100%;
    border-radius: 50px;
}
@media screen and (max-width: 950px){
    .tent-img img{
        width: 450px;
        height: 500px;
        max-width: 100%;
    }
}
/* tent css 끝 */


/* 이용안내 css */
.Using-Guide{
    display: flex;
    width: 100%;
    height: 850px;
    text-align: center;
    vertical-align: middle;
}
@media screen and (max-width: 950px){
    .Using-Guide{
        display: flex;
        width: 100%;
        height: 1000px;
        text-align: center;
        vertical-align: middle;
        justify-content: space-around;
        align-items: center;
        vertical-align: middle;
        flex-direction: column;
    }
}
.Guide-img{
    max-width: 100%;
    min-width: 55%;
    width: 30%;
    height: 350px;
    padding-right: 10px;
}
.Guide-text{
    width: 80%;
    height: 1200px;
    text-align: left;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.guide-text1{
    width: 400px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-x: hidden;
    height: 600px;
    background-color: aliceblue;
    border-radius: 15px;
}
@media screen and (max-width: 950px){
    .Guide-img{
        min-width: 100%;
        width: 100%;
        height: 100%;
    }
    .Guide-text{
        width: 100%;
        height: 900px;
        text-align: left;
        font-size: 16px;
        overflow: scroll;
        text-overflow: ellipsis;
        margin-top: 50px;
        align-items: center;
        vertical-align: middle;
        padding-left: 50px;
    }
    .guide-text1{
        width: 90%;
        display: flex;
        flex-direction: row;
        overflow: scroll;
        height: 500px;
        background-color: aliceblue;
        border-radius: 15px;
    }
    .Guide-img{
        max-width: 100%;
        min-width: 50%;
        width: 100%;
        height: auto;
        padding-right: 10px;
    }
}
@media screen and (max-width:950px){
      .Guide-text{
        width: 100%;
        height: 900px;
        text-align: left;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 50px;
        align-items: center;
        vertical-align: middle;
        padding-left: 50px;
    }
}
ul, li {
    list-style: none;
}
.mb20 {
    margin-bottom: 20px;
}
.using-img{
    max-width: 100%;
    width: auto;
    height: auto;
    /* padding-left: 50px; */
    border-radius: 50px;
}
@media (max-width: 450px) {
    .using-img{
        width: 100%;
        height: 300px;
        padding-left: 0px;
        border-radius: 50px;
    }
}

.refund{
    display: flex;
    width: 100%;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    justify-content: space-around;
}
.refund-img-div{ 
    width: 55%;
    height: 500px;
    justify-items: end;
}
.refund-img{
    max-width: 100%;
    min-width: 50%;
    width: 553px;
    height: 350px;
    border-radius: 30px;
   
}
.refund-text{
    width: 55%;
    height: 500px;
    text-align: left;
    font-weight: 700;
    text-overflow: ellipsis;
    padding-right: 50px;
}
@media screen and (max-width: 950px){
    .refund{
        display: flex;
        width: 100%;
        height: 800px;
        text-align: center;
        vertical-align: middle;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .refund-img-div{ 
        width: 100%;
        height: 100%;
    }
    .refund-text{
        width: 100%;
        height: 800px;
        text-align: center;
        font-weight: 700;
        text-overflow: ellipsis;
       font-size: 15px;
       overflow-x: none;
       margin-bottom: 200px;
    }
}

.refund-table{
    text-align: center;
    width: 40%;
    height: 700px;
    margin: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.policy-table{
    border: 1px solid #eeee;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.policy-table thead{
    font-size: 150px;
    border: 1px solid #eeee;
}
.policy-table td,th{
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #eeee;
    padding: 20px;
}
@media screen and (max-width:758px){
    .refund-table{
        text-align: center;
        width: 100%;
        height: 700px;
        margin: auto;
    }
}

.navbar{
    background-color: transparent !important; 
}
.navbar i{
    color: var(--text-color);
}
footer{
    z-index: 0;
}