
body{
    font-family: 'Montserrat', sans-serif,  'Noto Sans KR', sans-serif; 
}
.container-sm{
    width: 100%;
    height: 1500px;
    text-align: center;
    margin-top: 69px;
    padding-top: 50px;
    color:  #E5874A;
    font-weight: 900;
}
.col-12{
    text-align: left;
}

form > input{
    box-shadow: 1px 1px 2px;
    height: 60px;
    border-radius: 30px;
}
.introduce{
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 30px;
}
.col-12 form{
    border:2px solid #E5874A ;
    border-radius: 15px;
    padding: 50px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:400px){
    .col-12 form{
        border:2px solid #E5874A ;
        border-radius: 15px;
        padding: 50px;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
}

form > ul{
    padding-left: 0px;
    padding: 10px 0 0 0;
}
form > ul li{
    padding:0 0 12px 0;
    list-style: none;
    text-align: left;
}
form > ul li input{
    width: 100%;
    height: 46px;
    text-indent: 16px;
    border: 1px solid darkgray;
    border-radius: 6px;
}
form > ul li input::-webkit-input-placeholder{
    /* font-size:16px;  */
    color:darkgray;
    text-indent: 16px;
}
.form-logo{
    text-align: center;
    padding-top: 0px;
    font-size: 25px;
}
.w3-button{
    border-radius: 15px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.submit-btn{
    height: 400px;
}
