*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {  
 font-family:'Noto Sans KR', sans-serif;
    scroll-behavior: smooth; 
}  
html{
    scroll-behavior: smooth;
}
.main-title{
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 77px;
    color: #E5874A;
}
.wave-title {  
 font-weight:300;  
 letter-spacing: 2px;  
 font-size:48px; 
 font-family: 'Noto Sans KR', sans-serif; 
}  
p {  
 letter-spacing: 1px;  
 font-family: 'Noto Sans KR', sans-serif; 
}  
.header {  
 position:relative;  
 text-align:center;  
 background-color: #fff;
 /* color:white;   */
}
#mountain{
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
    bottom: 0;
    padding-top: 90px;
}
/*-----------------------------header*/
#main{
    text-align: initial
}
.container{
    max-width: 1000px; /*max-width 주어서 스크롤 막고 가운데 정렬*/
    margin: 0 auto;
    margin-top: 100px;
    padding: 118px 0;
    text-align: center;
}
.main-contents{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main-img img{
    width: 300px;
    height: 300px;
}
.img-box{
    display: block;
    background: rgb(0,146,68);
    background: linear-gradient(236deg, rgba(0,146,68,1) 48%, rgba(0,87,222,1) 91%);
    border-radius: 50%;
    width: 551px;
    height: 550px;
}
.left{
    font-size: 70px;
    position: absolute;
    top: 118px;
    left: 0;
    color: rgb(0, 0, 0);
}
.right{
    position: absolute;
    top: 290px;
    right: 0;
    font-size: 51px;
    color: rgb(0, 0, 0);
}
.main-title{
    text-align: initial;
    padding-bottom: 30px;
    transform: translateX(5px);
    animation: leftlight 3s linear infinite;
}
.main-text{
    text-align: initial;
    padding-bottom: 30px;
}
.btn-group{
    text-align: initial;
}
button{
    cursor: pointer;
    font-weight: bold;
    padding: 14px 24px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(90deg, #4B67C0 20%, #FF6574 60%,
    #F05A24 80% ,
    #4585DB 100%);
    border-radius: 12px;
    outline: none;
    border: none;
    text-align: initial;
}
.button-text, .weather{
    text-decoration: none;
    color: #fff;
    
}

.title-icon{
    font-size: 23px;
}
/* .logo {  
 width:50px;  
 fill:white;  
 padding-right:15px;  
 display:inline-block;  
 vertical-align: middle;  
}   */

.waves {  
 position:relative;  
 width: 100%;  
 height:15vh;  
 margin-bottom:-7px; /*Fix for safari gap*/  
 min-height:300px;  
 max-height:350px;  
}  
.content {  
 position:relative;  
 height:20vh;  
 text-align:center;
 background-color: #f15a24;
}  
#section1{
    width: 100%;
    height: 1750px;
    background: #f15a24;
    color: #fff;
    overflow: hidden;
}
#section1 .container{
    padding: 0;
}
.container{
    width: 100%;
    /* padding-top: 100px; */
    position: relative;
    /* background-color: #003f2b; */
}
.title-camppang-logo{
    position: absolute;
    top: -61px;
    left: 0;
}
.section1-title{
    margin-left: 732px;
    padding-bottom: 10px;
    font-size: 116px;
    z-index: 1;
}
.section-title-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.section-desc{
    color: #fff;
    text-align: initial;
}
.weather-content{
    /* height: 500px; */
    padding-top: 320px;
    width: 100%;
    /* position: absolute;
    top: 858px;
    right: -410px; */
}
.section1-title2{
    font-size: 90px;
}

/*-------video*/
.video-wrap{
    padding: 31px;
    width: 100%;
    background-color: #003f2b;
    position: absolute;
    top: 0;
    left: -322px;
}

/* wave - Animation */  
.parallax > use {  
 animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)   infinite;  
}  
.parallax > use:nth-child(1) {  
 animation-delay: -2s;  
 animation-duration: 7s;  
}  
.parallax > use:nth-child(2) {  
 animation-delay: -3s;  
 animation-duration: 10s;  
}  
.parallax > use:nth-child(3) {  
 animation-delay: -4s;  
 animation-duration: 13s;  
}  
.parallax > use:nth-child(4) {  
 animation-delay: -5s;  
 animation-duration: 20s;  
}  
@keyframes move-forever {  
 0% {  
  transform: translate3d(-90px,0,0);  
 }  
 100% {   
  transform: translate3d(85px,0,0);  
 }  
}  
/*Shrinking for mobile*/  
@media (max-width: 768px) {  
 .waves {  
  height:40px;  
  min-height:40px;  
 }  
 .content {  
  height:30vh;  
 }  
 .wave-title {  
  font-size:24px;  
 }  
}  

@keyframes leftlight {
    0% {
        transform: translateX(5px);
    }
    
    50% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(5px);
}
}
#contact{
    width: 100%;
    height: 400px;
    position: relative;
    background: #003f2b;
}
.contact-con{
    text-align: center;
}
#contact .contact-bg img{
    display: block;
    width: 100%;/*width:100%를 줘야 스크롤이 안생긴다!*/
    position: absolute;
    bottom: 400px;
}
#contact .contact-text{
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 364px;
    margin-left: 50%;
    left: -50px;
    color: #fff;
    border-radius: 50px;
    transition: all 0.3s;
}
.contact-btn a{
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    margin-left: 50%;
    left: -50px;
    background: #ffffff;
    border-radius: 50px;
    transition: all 0.3s;
}
/*---------------------------- footer */
#footer{
    width: 100%;
    height: 150px;
    background: #003f2b;
}
.footer-con{
    position: relative;
    text-align: center;
    background: #003f2b;
}
.footer-bg{
   display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1000px;
}
.footer-logo{
    width: 300px;
    height: 300px;
}
.footer-logo img{
    width: 100%;
}
.footer-detail{
   color: #fff;
   line-height: 95px;
}
@media screen and (max-width:499px) {
    .video-wrap{
        padding-top: 50px;
    }
    .main-contents{
        display: flex;
        flex-direction: column;
    }
    .video-wrap{
        left: 6px;
        background-color: transparent;
    }
    .video-wrap video{
        width: 100%;
    }
    .main-title{
        animation: none;
    }
    .main-contents{
        max-width: 900px;
    }
    .video-wrap{
        background-color: transparent;
    }
    .section1-title{
        padding-bottom: 220px;
        font-size: 25px;
        margin-left: 88px;
    }
    .weather-content{
        padding-top: 0;
    }
    .section1-title2{
        font-size: 20px;
    }
    .main-title{
        font-size: 30px;
    }
}
@media screen and (min-width:500px) and (max-width:768px) {
    .main-contents{
        max-width: 700px;
    }
    .main-img img{
        width: 150px;
        height: 150px;
    }
    .main-contents{
        max-width: 900px;
    }
    .video-wrap{
        background-color: transparent;
    }
    .section1-title{
        padding-bottom: 58px;
        font-size: 38px;
        margin-left: 257px;
    }
    .weather-content{
        padding-top: 460px;
    }
    .section1-title2{
        font-size: 41px;
    }
    .main-title{
        font-size: 30px;
    }
  }
    @media screen and (min-width:769px) and (max-width:967px) {
        .main-contents{
            max-width: 900px;
        }
        .video-wrap{
            background-color: transparent;
        }
        .section1-title{
            padding-bottom: 58px;
            font-size: 50px;
            margin-left: 578px;
        }
        .weather-content{
            padding-top: 460px;
        }
        .section1-title2{
            font-size: 41px;
        }
        .main-title{
            font-size: 30px;
        }
    }
      @media screen and (min-width:968px) and (max-width:1200px){
        .main-contents{
            max-width: 1000px;
        }
        .video-wrap{
            width: 25%;
        }
        .section1-title{
            font-size: 71px;
            margin-left: 561px;
        }
        .section1-title2{
            font-size: 60px;
        }
        .weather-content{
            margin-top: 165px;
        }
      }
    