*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {  
 margin:0; 
 font-family: 'Noto Sans KR', sans-serif;
}  
.main-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
    color: #E5874A;
}
.wave-title {  
 font-weight:300;  
 letter-spacing: 2px;  
 font-size:48px; 
 font-family: 'Noto Sans KR', sans-serif;
}  
p {  
 letter-spacing: 1px;  
 font-size:14px;  
 font-family: 'Noto Sans KR', sans-serif;
}  
.header {  
 position:relative;  
 text-align:center;  
 background-color: #fff;
 /* color:white;   */
}
#mountain{
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
    bottom: 0;
    padding-top: 90px;
}
/*-----------------------------header*/
#main{
    width: 100%;
    text-align: initial
}
.main-con{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    padding: 118px 0;
    text-align: center;
}
.main-contents{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main-img img{
    width: 300px;
    height: 300px;
}
.img-box{
    display: block;
    background: rgb(0,146,68);
    background: linear-gradient(236deg, rgba(0,146,68,1) 48%, rgba(0,87,222,1) 91%);
    border-radius: 50%;
    width: 551px;
    height: 550px;
}
.left{
    font-size: 70px;
    position: absolute;
    top: 118px;
    left: 0;
    color: rgb(0, 0, 0);
}
.right{
    position: absolute;
    top: 290px;
    right: 0;
    font-size: 51px;
    color: rgb(0, 0, 0);
}
.main-title{
    text-align: initial;
    padding-bottom: 30px;
    transform: translateX(5px);
    animation: leftlight 3s linear infinite;
}
.main-text{
    text-align: initial;
    padding-bottom: 30px;
}
.btn-group{
    text-align: initial;
}
button{
    cursor: pointer;
    font-weight: bold;
    padding: 14px 24px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(90deg, #4B67C0 20%, #FF6574 60%,
    #F05A24 80% ,
    #4585DB 100%);
    border-radius: 12px;
    outline: none;
    border: none;
    text-align: initial;
}
button a:hover{
    letter-spacing: 1rem;
}

/* .logo {  
 width:50px;  
 fill:white;  
 padding-right:15px;  
 display:inline-block;  
 vertical-align: middle;  
}   */

.waves {  
 position:relative;  
 width: 100%;  
 height:15vh;  
 margin-bottom:-7px; /*Fix for safari gap*/  
 min-height:300px;  
 max-height:350px;  
}  
.content {  
 position:relative;  
 height:20vh;  
 text-align:center;
 background-color: #f15a24;
}  
#section1{
    width: 100%;
    height: 1050px;
    background: #f15a24;
    color: #fff;
    overflow: hidden;
}
.section1_con{
    width: 1200px;
    padding-top: 100px;
    position: relative;
    margin: auto;
}
.section1-title{
    padding-bottom: 10px;
}
.section-desc{
    color: #fff;
}
/* wave - Animation */  
.parallax > use {  
 animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)   infinite;  
}  
.parallax > use:nth-child(1) {  
 animation-delay: -2s;  
 animation-duration: 7s;  
}  
.parallax > use:nth-child(2) {  
 animation-delay: -3s;  
 animation-duration: 10s;  
}  
.parallax > use:nth-child(3) {  
 animation-delay: -4s;  
 animation-duration: 13s;  
}  
.parallax > use:nth-child(4) {  
 animation-delay: -5s;  
 animation-duration: 20s;  
}  
@keyframes move-forever {  
 0% {  
  transform: translate3d(-90px,0,0);  
 }  
 100% {   
  transform: translate3d(85px,0,0);  
 }  
}  
/*Shrinking for mobile*/  
@media (max-width: 768px) {  
 .waves {  
  height:40px;  
  min-height:40px;  
 }  
 .content {  
  height:30vh;  
 }  
 .wave-title {  
  font-size:24px;  
 }  
}  

@keyframes leftlight {
    0% {
        transform: translateX(5px);
    }
    
    50% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(5px);
}
}
/*---------------------------- footer */
#footer{
    width: 100%;
    height: 150px;
    background: #003f2b;
}
.footer-con{
    position: relative;
    text-align: center;
    background: #003f2b;
}
.footer-bg{
   display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1000px;
}
.footer-logo{
    width: 300px;
    height: 300px;
}
.footer-logo img{
    width: 100%;
}
.footer-desc{
    color: #fff;
}