*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(//fonts.googleapis.com/css?family=Lato:300:400);  
body {  
 margin:0; 
 font-family: 'Noto Sans KR', sans-serif;
}  
.wave-title {  
 font-family: 'Lato', sans-serif;  
 font-weight:300;  
 letter-spacing: 2px;  
 font-size:48px;  
}  
p {  
 font-family: 'Lato', sans-serif;  
 letter-spacing: 1px;  
 font-size:14px;  
 color: #333333;  
}  
.header {  
 position:relative;  
 text-align:center;  
 background-color: #fff;
 /* color:white;   */
}
.mountain{
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
    bottom: 0;
}
/*-----------------------------header*/
.img-box{
    background: rgb(0,146,68);
    background: linear-gradient(236deg, rgba(0,146,68,1) 48%, rgba(0,87,222,1) 91%);
    border-radius: 50%;
    width: 551px;
    height: 550px;
}
.img-box img{
    width: 500px;
    height: 500px;
}
.main-text{
    position: relative;

}
.left{
    font-size: 70px;
    position: absolute;
    top: 118px;
    left: 0;
    color: rgb(0, 0, 0);
}
.right{
    position: absolute;
    top: 290px;
    right: 0;
    font-size: 51px;
    color: rgb(0, 0, 0);
}
/* .logo {  
 width:50px;  
 fill:white;  
 padding-right:15px;  
 display:inline-block;  
 vertical-align: middle;  
}   */
.inner-header {  
 height:65vh;  
 width:100%;  
 margin: 0;  
 padding: 0;  
 
}  
.flex { /*Flexbox for containers*/  
 display: flex;  
 justify-content: center;  
 align-items: center;  
 text-align: center;  
}  
.waves {  
 position:relative;  
 width: 100%;  
 height:15vh;  
 margin-bottom:-7px; /*Fix for safari gap*/  
 min-height:300px;  
 max-height:350px;  
}  
.content {  
 position:relative;  
 height:20vh;  
 text-align:center;
 background-color: #f15a24;
}  
#section1{
    width: 100%;
    height: 1050px;
    background: #f15a24;
    color: #fff;
    overflow: hidden;
}
.section1_con{
    width: 1200px;
    padding-top: 100px;
    position: relative;
    margin: auto;
}
/* wave - Animation */  
.parallax > use {  
 animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)   infinite;  
}  
.parallax > use:nth-child(1) {  
 animation-delay: -2s;  
 animation-duration: 7s;  
}  
.parallax > use:nth-child(2) {  
 animation-delay: -3s;  
 animation-duration: 10s;  
}  
.parallax > use:nth-child(3) {  
 animation-delay: -4s;  
 animation-duration: 13s;  
}  
.parallax > use:nth-child(4) {  
 animation-delay: -5s;  
 animation-duration: 20s;  
}  
@keyframes move-forever {  
 0% {  
  transform: translate3d(-90px,0,0);  
 }  
 100% {   
  transform: translate3d(85px,0,0);  
 }  
}  
/*Shrinking for mobile*/  
@media (max-width: 768px) {  
 .waves {  
  height:40px;  
  min-height:40px;  
 }  
 .content {  
  height:30vh;  
 }  
 .wave-title {  
  font-size:24px;  
 }  
}  